In [7]:
import pandas as pd

df = pd.read_csv('./dataset/titanic.csv')
sex = df['Sex'].dropna()
age = df['Age'].dropna()

In [28]:
def avg_age(age):
    '''Return the average of an array'''
    total = 0
    for i in age:
        total += i
    return total/len(age)

In [32]:
def per_female(sex):
    '''Returns the percentage as a decimal of females in a given array of sexs'''
    women = 0
    for i in sex:
        if i == 'female':
            women+=1
    return women / len(sex)

In [30]:
print(avg_age(age))

29.69911764705882

In [33]:
print(per_female(sex))

0.35241301907968575